/* Animation for h2 that appears from the side */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100vw); 
      opacity: 0;
    }
    100% {
      transform: translateX(0); 
      opacity: 1;
    }
  }

/* Animation for the border-bottom of the span, adjusted to the text */
@keyframes borderBottomAppear {
    0% {
      width: 0; 
    }
    100% {
      width: 4.5em;
    }
    
  }
  


/* Animation for h1 to fall and bounce */
@keyframes dropAndBounce {
    0% {
      transform: translateY(-100vh); 
      opacity: 0;
    }
    80% {
      transform: translateY(0); 
      opacity: 1;
    }
    90% {
      transform: translateY(-10px); 
    }
    100% {
      transform: translateY(0); 
      opacity: 1; 
    }
  }

/* Opacity animation for the paragraph */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  