
@mixin mains_flex-height{
    flex: 1; 
    height: 100%; 
}
/*color for brand and linkedIn icons*/
@mixin svg-icons{
    filter: invert(12%) sepia(25%) saturate(3761%) hue-rotate(174deg) brightness(94%) contrast(98%);
    width: 30px;
} 
//color ,font and font-width for texts ans titles
@mixin title-style($color,$size,$weight){
    color: $color;
    font-size:$size; 
    font-weight: $weight;
}
 /*button shape for titles and buttons*/

@mixin btn-shape($bg-color, $color, $border,$border-rad, $padding, $width, $font-sz ){

    background-color: $bg-color !important;
    border: $border !important;
    border-radius: $border-rad !important;
    padding: $padding !important;
    width: $width !important;
    @include title-style($color,$font-sz,$font-weight-1);
}
 /*button functions for buttons*/
@mixin btn-function($hv-bg, $hv-cl, $hv-br,
                    $ac-bg, $ac-cl, $ac-br ){

    font-weight: $font-weight-1 !important;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;  
    display: inline-block;

    &:hover{
        background-color: $hv-bg !important;
        color: $hv-cl !important;
        border-color: $hv-br !important;
    }
    
    &:active{
        background-color: $ac-bg !important;
        color: $ac-cl !important;
        border-color: $ac-br !important; 
    }

}
 /*button animations for buttons*/
@mixin btn-animation {
    position: relative;
    &::after {
        content: " →";
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    &:hover::after {
        opacity: 1;
        transform: translateX(0);
    }
    
    span {
        display: inline-block;
        transition: margin-right 0.3s ease;
    }

    &:hover span {
        margin-right: 0.5rem;
    }
}


/*Mixin for title animations*/
@mixin mixin-fadeIn{
    opacity: 0; 
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay: 0.8s; 
}

/*Mixin for bootstrap navbar*/
@mixin bootstrap-nav-li_a($font-weight) {
    font-weight: $font-weight;
    color: $primary-color ;
    &:hover{
        color: $primary-color-clear-3;

    }
    
    &:active{
        color: $primary-color-clear-2 ;
    }
}