@import "./var";
@import "./mixins";
@import "./animations";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, "Inter", sans-serif; 
} 

body{
    color: $primary-color;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*----------------------HEADER------------------------*/

    header{
        background-color: $white-color;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: $header-height 0 ;
        z-index: 1;
        .my-nav{
            background-color: $white-color !important;
            height: 100%;
            .my-li {
                a{
                    @include bootstrap-nav-li_a;
                
                }
            }
            .my-dropdown{
                background-color: $white-color; 
                z-index: 1000; 
        
                a {
                    color: $primary-color; 
                    &:active {
                        background-color: $secondary-color-dark; 
                        color: $white-color; 
                    }
                }
            }
        }

    }
    //***********Para poder utilizar el extend en algunos items del nav, se coloco por fuera del header losiguiente:
    .my-brand{
        border-right: solid 1px $secondary-color-dark;
        padding-right: 1rem;
        display: flex; 
        align-items: center;
        height: 30px;
        .my-logo{
            @include svg-icons;
        }
    }
    .btn-nav{
        @include btn-shape($white-color, $primary-color, $primary-color $border-solid-px,$border-rad-little-btn, $border-pad-little-btn, $width-little-btn,$font-btn);

        @include btn-function($primary-color, $secondary-color, $primary-color,
        $primary-color-clear-1, $white-color, $primary-color-clear-1);
                              
        @include btn-animation;  
    }
    .my-active{
        a{
            color: $primary-color-clear-2 !important;
            border-bottom: 1px solid $primary-color-clear-2;
        }
    }

    /*----------------------MAIN------------------------*/
    .my-main {
        background: 
            radial-gradient(at bottom left, $primary-color-clear 2%, $primary-color 98%); 
        padding: calc($header-height + 20vh) 0;
        height: 100%;
        overflow: hidden;
        position: relative;
        z-index: 0; 
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 50%; 
            height: 100%;
            background: url('../img/bg-1.jpg') no-repeat center center; 
            background-size: cover; 
            z-index: -1; 
        }
        @media (max-width: 992px) {
            background: none; 
            height: 100%;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0; 
                width: 100%; 
                height: 50%; 
                background: radial-gradient(at bottom left, $primary-color-clear 2%, $primary-color 98%);
                z-index: -1; 
            }
    
            &::after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 50%; 
                bottom: 0; 
                background: url('../img/bg-1.jpg') no-repeat center center; 
                background-size: cover; 
                z-index: -1; 
            }
        }

/*---------------------Left side---------------------*/
        .main-left{
            background: none;
            color: $secondary-color;
            width: 100%;
            z-index: 1;
            @include mains_flex-height;
            .mainDiv-left{
                width: 80%;
                .my-h1{
                    @include btn-shape(transparent, $secondary-color, $primary-color-clear-2$border-solid-px,$border-rad-little-btn, $border-pad-little-btn, $width-title,$font-input);
                    opacity: 0; 
                    transform: translateY(-100vh); 
                    animation: dropAndBounce 1s ease-out forwards;
                    animation-delay: 0.5s; 
                 }
                 h2{
                    font-size: clamp(1.5rem, 4vw, 3.2rem);
                    font-weight: $font-weight-1;
                    display: inline-block;
                    overflow: hidden;
                    line-height: 1.2;
                    margin-bottom: 20%;
                    max-width: 100%;
                    opacity: 0;
                    animation: slideInFromLeft 0.8s ease-out forwards;
                    span {
                        display: inline-block; 
                        border-bottom: 3px solid $primary-color-clear-3; 
                        width: 0; 
                        animation: borderBottomAppear 0.2s ease forwards;
                        animation-delay: 1s; 
                      }
                 }
                 .subtitle{
                    font-size: 24px;
                    font-weight: $font-weight-2;
                    border-top: $primary-color-clear-2 solid 1px;
                    padding: 1.5rem 0 2rem;
                    display: inline-block;
                    @include mixin-fadeIn;

                 }
                .btn-contactUs{
                    @extend .btn-nav;
                    @include mixin-fadeIn;
                 }
            }
        @media (max-width: 992px){
            height: 100%;
            margin: 30px 0;
            .mainDiv-left{
                h2{
                    font-size: clamp(3.5rem, 8vw, 4.5rem) ;
                    span{
                        display: block;
                    }
                }
                .subtitle{
                    font-size: $font-title ;
                    font-weight: $font-weight-3;
                }
            }

        }
        }

/*---------------------Right side---------------------*/
        .main-right {
            background: none !important;
            box-sizing: border-box;
            height: 100%;
            @include mains_flex-height;
            z-index: 1;
            /*------------FORM---------------*/
            .my-form{
                background-color: $white-color;
                padding: 30px $padding-form;
                width: 28rem;
                height: 28rem;
                @include mixin-fadeIn;
                animation: fadeIn 0.5s ease-out forwards;
                animation-delay: 0.9s; 
                .my-legend{
                    @include btn-shape($white-color,$primary-color, $primary-color $border-solid-px,$border-rad-little-btn, $border-pad-little-btn, $width-title,$font-input);
                    margin: 8px $padding-form $padding-form;
                    
                } 
                h3{
                    font-weight: $font-weight-1;
                    margin:  $padding-form; 
                }
                .form-body {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem; 
                    justify-content: space-between; 
                    padding: $padding-form;
                    box-sizing: border-box; 
                    .form-inputs{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        gap: 0.8rem;
                    }
                    label{
                        overflow: hidden !important;
                        display: none !important;
                    }
                    .myInput{
                        padding: 1rem;
                    }
                    .myBtn-form{
                        @include btn-shape($white-color, $primary-color, $primary-color $border-solid-px,5px, 1rem 0, auto,$font-btn);

                        @include btn-function($primary-color-clear-3,$secondary-color,$primary-color-clear-3,
                        $primary-color-clear-4, $secondary-color, $primary-color-clear-4);
                    }
                    input, textarea {
                        &::placeholder {
                            color: $primary-color !important;
                            font-weight: $font-weight-1;
                            font-size: $font-input;
                        }
                    
                        &:focus::placeholder {
                            color: $white-color !important;
                        }
                    }
                    
                }

            }
            @media (max-width: 992px){
                height: 100%;
                margin-top: 30vh;
                .my-form{
                    width: clamp(28rem, 50vw, 40rem); 
                    height: clamp(30rem, 50vh, 35rem);
                }
            }
        }
    }


/*---------------------Footer---------------------*/
footer {
    background-color: $secondary-color;
    position: relative; 
    width: 100%;
    padding-top: 60px;
    z-index: 1; 
    .sec-footer-1{
        padding-bottom: 60px;
        .my-nav{
            background-color: $secondary-color !important;
            ul{
            gap:1rem;
            li{
                a{
                    @include bootstrap-nav-li_a;
    
                }
            }
    
            }
        @media (max-width: 992px){

        }
        }
        .follow-us{
            p{
                @include title-style($primary-color,$font-input,$font-weight-1);
            }
    
        }

    }
    .img-socialNet{
        @include svg-icons;
    }
    .footer-divider{
        padding: 30px 0;
        border-top: 1px solid $primary-color-clear-2;
        .about-title{
            @include title-style($primary-color,$font-title,$font-weight-1);
            @media (max-width: 992px){
                padding-top: 60px;
            }
        }
        
        p{
            margin-bottom: 0;
            @include title-style($primary-color,$font-input,$font-weight-2);
        }
        a{
            @include title-style($primary-color,$font-input,$font-weight-2);
            text-decoration: none;
        }
    }

    .dropDown-sec{
        padding: 30px 0;
        article{
            p{
                width: 90%;
            }
        }
        address{
            align-self: center;
            h5{
                @include title-style($primary-color,clamp(1rem, 5vw, 3rem),$font-weight-2);

            }
            h6{
                @include title-style($primary-color-clear-3,$font-title,$font-weight-1);

            }
            p,a{
                @include title-style($primary-color,$font-input,$font-weight-2);
                text-decoration: none;
            }
        }
    }
    @media (max-width: 992px){
    }
}

}
